{# creation d'un generateur de route #}
{% macro route_path(relations, classe) %}
    {% set nom = classe.nom | lower %}
    {% set route = "/" + nom %}
    {% for rel in relations %}
        {% if rel.cible == classe.nom %}
            {% set parent = rel.source | lower %}
            {% set route = "/" + parent + "/<int:id>" + route %}
        {% endif %}
    {% endfor %}
    {{ route }}
{% endmacro %}


{% macro genere_param_id(relations, classe) %}
    {% for rel in relations %}
        {% if rel.cible == classe.nom %}
            id
        {% endif %}
    {% endfor %}
{% endmacro %}


{% macro ressource_lie(relations_cible, blueprint, schema) %}
{% for rel in relations_cible %}
{% set source_id = rel.source | lower ~ "_id" %}
{% set source_min = rel.source | lower %}
{% set cible_min = rel.cible | lower %}
@{{ blueprint }}.post("/{{ source_min }}/<int:id>/{{ cible_min }}")
def creer_ress_{{ cible_min }}(id):
    with get_db() as db:
        try:
            {{ source_id }} = db.query({{ rel.source }}).filter({{ rel.source }}.id == id).first()
            if not {{ source_id }}:
                abort(404, description="Ressource introuvale (macro)")

            data = get_json_or_400()
            data["{{ source_id }}"] = id
            {{ nom }} = {{ schemaOne }}.load(data, session=db)
            db.add({{ nom }})
            db.commit()
            return reponse_json(data={{ schemaOne }}.dump({{ nom }}), status=201)
        except ValidationError as err:
            abort(400, description=str(err.messages))    
{% endfor %}
{% endmacro %}