from flask import Flask, jsonify, request
from flask_cors import CORS
from extensions import bcrypt, jwt
from erreurs.handle_erreurs import enregistreur_erreur
{% for bp in blueprints %}
from routes.{{ bp.nom }} import {{ bp.bp }}
{% endfor %}
from database import Base, engine
{% if session %}
# Ajout de la gestion de session
from flask_session import Session
{% endif %}

# Création d'une instance Flask
app = Flask(__name__)

# enregistrement des blueprint ici
{% for bp in blueprints %}
app.register_blueprint({{ bp.bp }})
{% endfor %}


# Import de la configuration
from config import Config

# Application de la configuration
app.config.from_object(Config)

# Configuration de la clé secrète pour la session
app.secret_key = Config.SECRET_KEY




# Configuration de CORS
CORS(
    app,
    origins="*",
    methods=["GET", "POST", "PUT", "DELETE"],
    allow_headers=["Content-Type", "Authorization"],
)



# Initialisation des extensions
bcrypt.init_app(app)
jwt.init_app(app)

{% if session %}
# Initialisation des sessions serveur-side
Session(app)
{% endif %}

# Enregistrement des erreurs HTTP personnalisées
enregistreur_erreur(app)


# Création des tables
try:
    Base.metadata.create_all(bind=engine)
    print("✅ Base de données connectée et tables créées")
except Exception as ex:
    print("❌ Erreur de base de données :", ex)

@app.route("/")
def hello():
    return jsonify({"message": "Hello bienvenue dans mon api"}), 200


if __name__ == "__main__":
    app.run(host="0.0.0.0", debug=True)


# Fichier créé par {{ nom }} 