import os
from dotenv import load_dotenv
from datetime import timedelta

load_dotenv()


class Config:
    # API Flask
    API_KEY = os.getenv("API_KEY") or "api_key" 
    SECRET_KEY = os.getenv("SECRET_KEY") or "secret_key"
    JWT_SECRET = os.getenv("JWT_SECRET") or "jwt_secret"



    {# Configuration JWT
    # Ceci ne concerne que l'extension JWT_EXTENDED de Flask
    # Supprimer vous n'en avez pas besoin
    #JWT_ACCESS_TOKEN_EXPIRES = timedelta(hours=1)
    #JWT_REFRESH_TOKEN_EXPIRES = timedelta(days=7)
    #JWT_TOKEN_LOCATION = ["cookies"]
    #JWT_COOKIE_SECURE = False  # Mettre True en production
    #JWT_COOKIE_SAMESITE = "Lax"
    #JWT_COOKIE_CSRF_PROTECT = False
    #JWT_ACCESS_COOKIE_PATH = "/"
    #JWT_REFRESH_COOKIE_PATH = "/token/refresh"

    # Configuration Session
    #PERMANENT_SESSION_LIFETIME = timedelta(days=1)
    #SESSION_COOKIE_SECURE = False  # Mettre True en production
    #SESSION_COOKIE_HTTPONLY = True
    #SESSION_COOKIE_SAMESITE = "Lax" #}



# Fichier créé par {{ nom }} 