# database.py
from sqlalchemy import create_engine
from sqlalchemy.orm import sessionmaker, declarative_base
from contextlib import contextmanager
import os

DATABASE_URL = os.getenv(
    "DATABASE_URL",
    "{{ database_url }}"
)

engine = create_engine(
    DATABASE_URL,
    {% if database_type == "sqlite" %}
    connect_args={"check_same_thread": False},
    {% endif %}
    pool_pre_ping=True
)

Base = declarative_base()

SessionLocal = sessionmaker(
    bind=engine,
    autocommit=False,
    autoflush=False
)

@contextmanager
def get_db():
    db = SessionLocal()
    try:
        yield db
    finally:
        db.close()

# Fichier créé par {{ nom }}
