# Projet final pour utiliser dans mon app
# creation des modeles pour la base de données
from sqlalchemy import Column, ForeignKey, {{ type_utilises | join(", ")  }}
{# from sqlalchemy import Column,, Integer{% if type_utilises %}, {{ type_utilises | join(", ") }}{% endif %} # ici je choisis d'importer directement Integer comme on le retrouve dans les id #}
from sqlalchemy.orm import relationship 
from database import Base 


{% for model in models %}
{# ici on cree des variables pour faciliter la generation du code #}

{% set nomClasseMin = model.nom.lower() %}
{% set nomClasse = model.nom.capitalize() %}
{% set tablename = nomClasseMin ~ "s" %}

class {{ nomClasse }}(Base):
    # nom de la table dans la base de donnees
    __tablename__ = "{{ tablename }}"

    # attributs (colonnes) de la nomClasse {{ nomClasse }} ({{ nomClasseMin }})
    id = Column(Integer, primary_key=True, index=True)

{% for attr in model.attributs %}
    {{ attr.nom }} = Column({{ attr.type }}{% if attr.primary_key is defined %}, primary_key={{ attr.primary_key | lower | capitalize }}{% endif %}{% if attr.nullable is defined %}, nullable={{ attr.nullable | lower | capitalize }}{% endif %}{% if attr.unique is defined %}, unique={{ attr.unique | lower | capitalize }}{% endif %}{% if attr.index is defined %}, index={{ attr.index | lower | capitalize }}{% endif %}{% if attr.default is defined %}, default={{ attr.default | lower | capitalize }}{% endif %})
{% endfor %}

    # relations
{% if relations | length > 0 %}
    {% for rel in relations %}
    {% if rel.type == "one_to_many" and rel.source == nomClasse %}
    {{ rel.champ }} = relationship("{{ rel.cible }}",back_populates="{{ rel.attribut_inverse }}", cascade="all, delete-orphan") 
    {% endif %}
    {% if rel.type == "one_to_many" and rel.cible == nomClasse %}
    {{ rel.attribut_inverse ~ "_id" }} = Column(Integer,ForeignKey("{{ (rel.source ~ 's') | lower }}.id"), nullable={{ rel.nullable | lower | capitalize }})
    {{ rel.attribut_inverse }} = relationship("{{ rel.source }}", back_populates="{{ rel.champ }}")
    {% endif %} 
    {% endfor %}
{% else %}
    # pas de relation 
{% endif %}

    # donnees à voir
    def data_{{ nomClasseMin }}(self):
        return {
            "id": self.id,
    {% for elemnt in model.attributs %}
            "{{ elemnt.nom }}": self.{{ elemnt.nom }},
    {% endfor %}
    }

    # pour plusieurs {{ nomClasseMin }}s
    @staticmethod
    def list_data(items):
        return [item.data_{{ nomClasseMin }}() for item in items]
{% endfor %}



