{% set nom = model.nom | lower %}
{% set classe = model.nom | capitalize %}
{% set blue_print = nom ~ '_bp' %}
{% set com = "Ajout du contexte de la session de la base de donnée " %}
{# modele pour les routes #}
from flask import Blueprint, jsonify, request
from modeles.models import {{ classe }}
from database import get_db


# creation du blueprint_{{ nom }}
{{ blue_print }} = Blueprint("{{ nom }}s", __name__, url_prefix="/api/{{ nom }}s")


# creation  d'un CRUD


# Creation de l'élément

@{{ nom }}_bp.post("/")
def creer_ressource_{{ nom }}():

    # {{ com }}
    with get_db() as db:

        # creation du data_get pour recuperer les donnees du POST
        data = request.get_json()

        # creation d'une instance de la classe {{ classe }}
        {{ nom }} = {{ model.nom }}(
        {% for element in model.attributs %}
            {{ element.nom }}=data.get("{{ element.nom }}"),
        {% endfor %})

        # Ajout dans la session 
        db.add({{ nom }})
        db.commit()

        return jsonify({{ nom }}.data_{{ nom }}()), 201


# route pour voir une ressource
@{{ nom }}_bp.get("/<int:id>")
def recuperer_ressource_{{ nom }}(id):

    # {{ com }}
    with get_db() as db:

        # verification de l'existence de la ressource
        {{ nom }} = db.query({{ classe }}).filter({{ classe }}.id == id).first()

        if not {{ nom }}:
            # fermeture de la session 
            return jsonify({"message": "ressource introuvable"}), 404
        
        return jsonify({"{{ nom }}": {{ nom }}.data_{{ nom }}() }), 200




# route pour voir toutes les ressources
@{{ nom }}_bp.get("/")
def recuperer_ressources_{{ nom }}():

    # {{ com }}
    with get_db() as db:

        # verification de l'existence de la ressource
        {{ nom }}_list = db.query({{ classe }}).all()

        if not {{ nom }}_list:
            # fermeture de la session 
            return jsonify({"message": "ressources introuvable"}), 404

        return jsonify({"{{ nom }}s": {{ classe }}.list_data({{ nom }}_list)}), 200




# route pour supprimer une ressource 
@{{ nom }}_bp.delete("/<int:id>")
def supprimer_ressource_{{ nom }}(id):

    # {{ com }}
    with get_db() as db:

        # verification de l'existence de la ressource
        {{ nom }} = db.query({{ classe }}).filter({{ classe }}.id == id).first()

        if not {{ nom }}:
            # fermeture de la session 
            return jsonify({"message": "ressource introuvable"}), 404

        db.delete({{ nom }})
        db.commit()
        
        return jsonify({"message": "ressource supprimée avec succes" }), 200


{% if relations | length > 0 %}
# routes pour les relations

{# ici on parcourt chaque relation #}
{% for rel in relations %}
    {# ici on teste pour voir si la source de la relation est égale au nom de la classe #}

    {% if rel.source == classe %}
from modeles.models import {{ rel.cible }}
# route pour voir les {{ rel.cible }}s d'une ressource {{ rel.source }}
@{{ nom }}_bp.get("/<int:id>/{{ rel.champ }}")
def recuperer_ressource_lie_{{ nom }}_{{ rel.champ }}(id):

    # {{ com }}
    with get_db() as db:

        # verification de l'existence de la ressource
        ressource = db.query({{ rel.source }}).filter({{ rel.source }}.id == id).first()

        if not ressource:
            return jsonify({"message": "ressource introuvable"}), 404

        # recuperation  des ressources liees
        items = ressource.{{ rel.champ }}
        return jsonify({
            "{{ rel.champ }}": {{ rel.cible }}.list_data(items)
        }), 200

    {% endif %}
{% endfor %}
{% endif %}



    
